.App {
  text-align: center;
}

.navbar a {
  margin: 0 10px;
}

.moon img {
  height: 150px;
  width: 150px;
}

.horoscope img {
  height: 120px;
  width: 100px;
}

#sagittarius {
  height: 120px;
  width: 120px;
}

.horoscope button {
  background-color: transparent;
  border: none;
}

.zodiac-button {
  position: relative;
  height: 120px;
  width: 100px;
  margin: 10px;
}

.dates {
  position: absolute;
  top: 15%;
  left: 13%;
  right: 0;
  align-items: center;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.zodiac-button:hover .dates {
  visibility: visible;
  opacity: 1;
}

.zodiac-button-sag {
  position: relative;
  height: 120px;
  width: 120px;
  margin: 10px;
}

.dates-sag {
  position: absolute;
  top: 15%;
  left: 15%;
  right: 0;
  align-items: center;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.zodiac-button-sag:hover .dates-sag {
  visibility: visible;
  opacity: 1;
}

.all-zodiac-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.dealt-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dealt-cards img {
  height: 360px;
  width: 211px;
}

.one-card {
  width: 25%;
  margin: 20px;
}

.moon-forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.one-phase {
  margin: 10px;
}
