html {
  background-image: url(/src/assets/stars.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #023059;
  color: white;
  min-height: 100vh;
  font-family: "Cuprum";
  font-size: larger;
  text-shadow: 2px 2px 10px black;
}

.logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: left;
}

.home-logos svg {
  margin: 0 3px;
}

.right-links {
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: larger;
}

.menu a {
  text-decoration: none;
  color: #e7b8b2;
}

.link-with-pic:hover {
  -webkit-box-shadow: 0 4px 6px -6px white;
  -moz-box-shadow: 0 4px 6px -6px white;
  box-shadow: 0 4px 6px -6px white;
}

.link-with-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#constellations {
  width: 525px;
  height: 525px;
  animation: rotation 25s infinite linear;
  margin: 50px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.moon img {
  height: 125px;
  width: 125px;
}

.horoscope {
  border-radius: 10px;
  margin: 1rem;
}

.horoscope img {
  height: 120px;
  width: 100px;
}

#sagittarius {
  height: 120px;
  width: 120px;
}

.horoscope button {
  background-color: transparent;
  border: none;
}

.zodiac-button {
  position: relative;
  height: 120px;
  width: 100px;
  margin: 10px;
}

.zodiac-button:hover {
  background-color: #034c8c;
  padding: 5px 13px 5px 0;
  border-radius: 10px;
  transition: opacity 0.2s, visibility 0.2s;
}

.dates {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  align-items: center;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-family: "Cuprum";
  font-size: 16px;
  font-weight: bold;
  transition: opacity 0.2s, visibility 0.2s;
  text-shadow: 5px 5px 10px black;
}

.zodiac-button:hover .dates {
  visibility: visible;
  opacity: 1;
}

.zodiac-button-sag {
  position: relative;
  height: 120px;
  width: 120px;
  margin: 10px;
}

.zodiac-button-sag:hover {
  background-color: #034c8c;
  padding: 5px 13px 5px 0;
  border-radius: 10px;
  transition: opacity 0.2s, visibility 0.2s;
}

.dates-sag {
  position: absolute;
  top: 10%;
  left: 8%;
  right: 0;
  align-items: center;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-family: "Cuprum";
  font-size: 16px;
  font-weight: bold;
  transition: opacity 0.2s, visibility 0.2s;
  text-shadow: 5px 5px 10px black;
}

.zodiac-button-sag:hover .dates-sag {
  visibility: visible;
  opacity: 1;
}

.all-zodiac-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.dealt-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dealt-cards img {
  height: 360px;
  width: 211px;
  margin-bottom: 0.5rem;
}

.one-card {
  width: 25%;
  margin: 20px;
}

.moon-forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.one-phase {
  margin: 10px;
}

.definitions-accordian {
  display: flex;
  justify-content: center;
  text-align: left;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  margin: auto;
  padding: 50px;
}

.info-container {
  display: flex;
  flex-direction: row;
}

.info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 100px;
}

.middle-info-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 100px;
}

.title-and-info {
  display: flex;
  flex-direction: column;
  width: 30rem;
  align-items: center;
  text-align: justify;
}

h1 {
  text-shadow: 2px 2px 10px black;
  color: #e7b8b2;
}

#zodiac-wheel {
  height: 220px;
  width: 220px;
}

#tarot-cards {
  height: 220px;
  width: 350px;
}

#moon {
  height: 220px;
  width: 220px;
}

.image-div {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: auto;
}

.buttons {
  border: none;
  background-color: #e7b8b2;
  padding: 0.5rem;
  border-radius: 16px;
  color: #023059;
  font-family: "Cuprum";
  font-size: 16px;
  font-weight: bold;
}

.buttons:hover {
  box-shadow: 2px 2px 5px white;
  color: white;
}

@media only screen and (max-width: 850px) {
  .dealt-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .one-card {
    width: 100%;
    margin: auto;
  }
  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #constellations {
    width: 265px;
    height: 265px;
    animation: rotation 25s infinite linear;
  }

  .info {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    margin: auto;
    padding: 20px;
  }

  .info h1 {
    text-align: center;
    margin: 0 20%;
  }

  .title-and-info p {
    text-align: justify;
    padding: 0 25%;
    justify-content: center;
  }

  .info-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: auto;
    align-items: center;
  }

  .middle-info-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: auto;
    align-items: center;
  }

  .image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .buttons {
    margin-bottom: 10%;
  }
}
