.App {
  text-align: center;
}

.navbar a {
  margin: 0 10px;
}

.moon img {
  height: 150px;
  width: 150px;
}

.horoscope img {
  height: 120px;
  width: 100px;
}

.horoscope button {
  background-color: transparent;
  border: none;
}
